/* style general */
*, *:after, *:before {
  box-sizing: inherit;
}


html {
  -webkit-locale: "en";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
  background: #121317;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
}

.alert {
  max-width: 500px;
  color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 10px;
  border: 1px solid rgba(104, 104, 104, 0.507);
  background-image: none;
  display: block;
  background-color: rgba(20, 31, 32, 0.616);
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
.alert-title {
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-weight: 800;
  margin-top: 10px;
}

.alert-title strong {
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #ff163d9b;
  margin-right: 5px;
}

.alert-d {
  font-size: 13px;
  font-weight: 300;
  margin-top: 15px;
  max-width: 475px;
}
.alert-btn-content {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.alert-btn {
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  background-color: #222c31;
  border: 1px solid transparent;
  color: white;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.alert-btn:hover {
  border: 1px solid rgba(104, 104, 104, 0.507);
}

p {
  margin-top: 0;
}
hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: rgb(13, 44, 80); /* old IE */
  background-color: rgba(67, 105, 146, 0.411); /* Modern Browsers */
}
a:link {
  color: #007bff;
  text-decoration: none;
  font-weight: 400;
}
a.codenour {
  color: #007bff;
}
a.twitter {
  color: #55acee;
}
a.linkedin {
  color: #0976b4;
}

a.dribbble {
  color: #E94C89;
}

/* Home Style */
.container {
  padding-top: 6em;
  padding-right: 01em;
  padding-left: 01em;
  margin: 0 auto;
  max-width: 765px;
  position: relative;
  height: 100%;
  min-height: 651px;
}

.intro {
  padding: 1em 0 1em 0;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 46px;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-header {
  width: 100%;
  margin-bottom: 20px;
}
.card-header .column {
  float: left;
}
.card-header .column img {
  padding:5px 5px;
}
.card-header .accounts {
  float: right;
}
.card-header .accounts img {
  padding:5px 5px;
  position:sticky;
  margin-right: 10px;
}
.card-header .accounts img:hover {
  background-color: #273E5A;
  border-radius: 25px;
}

.profile, .contact {
  padding-bottom: 1em;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 34px;
}

.auth {
  padding-top: 20px;
  font-size: 15px;
  color: rgb(178, 186, 194);
  font-weight: 200;
}

.card {
  color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 10px;
  border: 1px solid rgba(104, 104, 104, 0.507);
  background-image: none;
  display: none;
  background-color: rgba(20, 31, 32, 0.616);
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 5px;

}

.card .navdiv{
  float: right;
}
.card .auth{
  float: left;
}
.content {
  height: 470px;
  width: 100%;
  overflow-y: scroll;
}

.beta {
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #ff163d9b;
  margin-right: 5px;
}
.beta:hover {
  background-color: #ff163d9b;
  border-radius: 5px;
}

@media (min-width: 40rem) {
.row {
    flex-direction: row;
    margin-left: -1rem;
    width: calc(100% + 2rem);
  }
}

@media (min-width: 40rem) {
  .row .column {
    margin-bottom: inherit;
    padding: 0 1rem;
  }
}

/* projects */

.projects-title-sm {

  font-size: 13px;
  max-width: 200px;
  font-weight: 600;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #848D94;

}

.projects-title-md {
  margin-top: 10px;
  max-width: 450px;
  font-size: 20px;
  font-weight: 600;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #FFFFFF;
}
.project-list {  
  padding-top: 20px;
  position: relative;
  display: grid;
  height: 335px;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  justify-items: center;
  align-content: start;
  margin-top: 8px;
  overflow-y: auto;
  -webkit-mask-image: linear-gradient(rgb(255, 255, 255) 80%, rgba(255, 255, 255, 0) 100%);
}

.project-list .item .num {
  width: 36px;
  height: 36px;
  background: rgba(135, 134, 177, 0.1);
  border-radius: 50px;
  display: grid;
  -webkit-box-align: center;
  place-items: center;
}

.project-list .item {
    position: relative;
    display: grid;
    grid-template-columns: 46px auto;
    gap: 10px;
    width: 100%;
    min-width: 220px;
    max-width: 320px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    border: 1px solid transparent;

}
.project-list .item:hover {
  background-color: #4d4d6657;
  border: 1px solid rgba(104, 104, 104, 0.507);
}
.item-content {
  display: grid;
  gap: 8px;
  align-self: center;
}

.item-content .item-title {
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  max-width: 160px;
  font-weight: 600;
  color: rgb(209, 209, 209);
  margin: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-right: 40px;
}

.item-content .item-description {
  font-style: normal;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: rgba(206, 204, 204, 0.7);
    margin: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



@media (max-width: 800px) {
  .project-list {
    flex-direction: column;
  }
}

/* Navbar */

@media screen and (max-width:550px){
  .nav-items {
    color: #b6b6b6;
    border-bottom: 1px solid rgb(49,49,49);
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: auto;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.8);
    backdrop-filter: blur(25px);
  }
}

.nav-items {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  bottom: 0;
  max-width: 300px;
  margin-right: 0;
  margin-left: auto;
}

.nav-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 10px 16px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0);
}

.nav-item span{
  width: 0;
  overflow: hidden;
}

.active{
  text-decoration: none;
  color: white;
  background-color: #55acee31;
  transition: .2s;
}

.active span{
  width: 100%;
  margin-left: 10px;
  transition: .2s;
}

*:focus{
  outline: none;
  border: none;
}